<% include ../includes/header %>

<div class="osu-layout__section osu-layout__section--full js-content community_forum-forums-index">
	<div id="forum-index-header" class="osu-layout__row osu-layout__row--page">
		<div class="text-area">
			<div class="text">
				<h2>not so random subtitles.</h2>
				<h1>osu!skins top</h1>
			</div>
		</div>
	</div>
	<div class="hidden-xs osu-layout__row osu-layout__row--lg2">
		<div class="pippy"></div>
	</div>
</div>

<% include ../includes/footer %>